<div class="flex-container">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>flex direction property :The flex-direction property defines in which direction the container wants to stack the items.</p>

<div class="flex-container2">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>flex direction property:
	<b>column reverse</b>
</p>
<div class="flex-container3">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>flex direction property:
	<b>row</b>
</p>
<div class="flex-container4">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>flex direction property:
	<b>row reverse</b>
</p>
<div class="flex-container5">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>flex-wrap property : wrap
	<b>Try resizing the browser window. A container with the flex-wrap property set to wrap will wrap its items if necessary.</b>
</p>
<div class="flex-container6">
	<div>1</div>
	<div>2</div>
	<div>3</div>
	<div>4</div>
	<div>5</div>
	<div>6</div>
	<div>7</div>
	<div>8</div>
	<div>9</div>
	<div>10</div>
	<div>11</div>
	<div>12</div>
</div>
<hr>

<p>flex-wrap property : nowrap
	<b>A container with the flex-wrap property set to nowrap will never wrap its items.</b>
</p>
<div class="flex-container7">
	<div>1</div>
	<div>2</div>
	<div>3</div>
	<div>4</div>
	<div>5</div>
	<div>6</div>
	<div>7</div>
	<div>8</div>
	<div>9</div>
	<div>10</div>
	<div>11</div>
	<div>12</div>
</div>
<hr>

<p>flex-flow property : flow wrap
	<b>A container with the flex-flow property set to row wrap will display its items from start to end, and wrap items if necessary.</b>
</p>
<div class="flex-container8">
	<div>1</div>
	<div>2</div>
	<div>3</div>
	<div>4</div>
	<div>5</div>
	<div>6</div>
	<div>7</div>
	<div>8</div>
	<div>9</div>
	<div>10</div>
	<div>11</div>
	<div>12</div>
</div>
<hr>

<p>justify-content property : center
	<b>Align items center.</b>
</p>
<div class="flex-container9">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>justify-content property : flex-start
	<b>A container with the justify-content property set to flex-start will align its items at the beginning.</b>
</p>
<div class="flex-container10">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>justify-content property : flex-end
	<b>A container with the justify-content property set to flex-end will align its items at the end.</b>
</p>
<div class="flex-container11">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>justify-content property : space-around
	<b>A container with the justify-content property set to space-around will display its items with the equal amount of space
		around them.</b>
</p>
<div class="flex-container12">
	<div>1</div>
	<div>2</div>
	<div>3</div>
	<!-- <div>4</div>
	     <div>5</div> -->
</div>
<hr>

<p>justify-content property : space-between
	<b>A container with the justify-content property set to space-around will display its items with the equal amount of space
		between them.</b>
</p>
<div class="flex-container13">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>align-items property : center
	<b>A container with the align-items property set to center will align its items in the middle.</b>
</p>
<div class="flex-container14">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>align-items property : flex-start
	<b>A container with the align-items property set to flex-start will align its items at the top.</b>
</p>
<div class="flex-container15">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>align-items property : flex-end
	<b>A container with the align-items property set to flex-end will align its items at the bottom.</b>
</p>
<div class="flex-container16">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>align-items property : stretch
	<b>A container with the align-items property set to stretch will align its items stretch from the top to the bottom.</b>
</p>
<div class="flex-container17">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p> centerized content :
	<b>
		A container with both the justify-content and the align-items properties set to center will align the item(s) in the center.</b>
</p>
<div class="flex-container18">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>Child Elements (Items)
	<b>
		The element above represents four blue flexible items inside a grey flexible container.</b>
</p>
<div class="flex-container19">
	<div>1</div>
	<div>2</div>
	<div>3</div>
	<div>4</div>
</div>
<hr>

<p>Child Elements (Items)
	<b>
		The element above represents four blue flexible items inside a grey flexible container.</b>
</p>
<div class="flex-container20">
	<div style="order: 4">1</div>
	<div style="order: 3">2</div>
	<div style="order: 2">3</div>
	<div style="order: 1">4</div>
</div>
<hr>

<p>flex-grow Property
	<b>
		The flex-grow property specifies how much a flex item will grow relative to the rest of the flex items.</b>
</p>
<div class="flex-container21">
	<div style="flex-grow: 1">1</div>
	<div style="flex-grow: 1">2</div>
	<div style="flex-grow: 12">3</div>
	<!-- <div style="order: 1">4</div> -->
</div>
<hr>

<p>flex-shrink Property
	<b>
		The flex-shrink property specifies how much a flex item will shrink relative to the rest of the flex items.</b>
</p>
<div class="flex-container22">
	<div>1</div>
	<div>2</div>
	<div style="flex-shrink: 0">3</div>
	<div>4</div>
	<div>5</div>
	<div>6</div>
	<div>7</div>
	<div>8</div>
	<div>9</div>
	<div>10</div>
</div>
<hr>

<p>The flex-basis Property
	<b>Use the flex-basis property to specify a width on the item(s). You can use any legal CSS width value, plus the keyword content.</b>
</p>
<div class="flex-container23">
	<div>1</div>
	<div>2</div>
	<div style="flex-basis: 200px">3</div>
	<div>4</div>
</div>
<hr>

<p>The flex :
	<b>The flex property is a shorthand property for the flex-grow, flex-shrink, and flex-basis properties.</b>
</p>
<div class="flex-container24">
	<div>1</div>
	<div>2</div>
	<div style="flex: 0 0 200px">3</div>
	<div>4</div>
</div>
<hr>

<p>The align-self Property :
	<b>An item with the align-self property set to center will center align the item. The align-self property overrides the align-items
		property of the container</b>
</p>
<div class="flex-container25">
	<div>1</div>
	<div>2</div>
	<div style="align-self: center">3</div>
	<div>4</div>
</div>
<hr>

<p>The align-self start and end :
	<b>An item with the align-self property set to flex-start will align the item at the top of the container. An item with the
		align-self property set to flex-end will align the item at the bottom of the container. The align-self property overrides
		the align-items property of the container.</b>
</p>
<div class="flex-container26">
	<div>1</div>
	<div style="align-self: flex-end">2</div>
	<div style="align-self: flex-start">3</div>
	<div>4</div>
</div>