.flex-container{
	display: flex;
	background-color: dodgerblue;
}
.flex-container>div{
	background-color: #f1f1f1;
	margin: 10px;
	padding:20px;
	font-size: 30px;
}


.flex-container2{
	display: flex;
	flex-direction: column;
	background-color: dodgerblue;
}
.flex-container2>div{
	background-color: #f1f1f1;
	margin: 10px;
	width: 100px;
	padding:20px;
	font-size: 30px;
}


.flex-container3{
	display: flex;
	flex-direction: column-reverse;
	background-color: dodgerblue;
}
.flex-container3>div{
	background-color: #f1f1f1;
	margin: 10px;
	width: 100px;
	padding:20px;
	font-size: 30px;
}


.flex-container4{
	display: flex;
	flex-direction: row;
	background-color: dodgerblue;
}
.flex-container4>div{
	background-color: #f1f1f1;
	margin: 10px;
	width: 100px;
	padding:20px;
	font-size: 30px;
}

.flex-container5{
	display: flex;
	flex-direction: row-reverse;
	background-color: dodgerblue;
}
.flex-container5>div{
	background-color: #f1f1f1;
	margin: 10px;
	width: 100px;
	padding:20px;
	font-size: 30px;
}

.flex-container6{
	display: flex;
	flex-wrap: wrap;
	background-color: dodgerblue;
}
.flex-container6>div{
	background-color: #f1f1f1;
	margin: 10px;
	width: 100px;
	padding:20px;
	font-size: 30px;
}

.flex-container7{
	display: flex;
	flex-wrap: nowrap;
	background-color: dodgerblue;
}
.flex-container7>div{
	background-color: #f1f1f1;
	margin: 10px;
	width: 100px;
	padding:20px;
	font-size: 30px;
}

.flex-container8{
	display: flex;
	flex-flow: row wrap-reverse;
	background-color: dodgerblue;
}
.flex-container8>div{
	background-color: #f1f1f1;
	margin: 10px;
	width: 100px;
	padding:20px;
	font-size: 30px;
}

.flex-container9{
	display: flex;
	justify-content: center;
	background-color: dodgerblue;
	text-align: center
}
.flex-container9>div{
	background-color: #f1f1f1;
	margin: 10px;
	width: 100px;
	padding:20px;
	font-size: 30px;
}

.flex-container10{
	display: flex;
	justify-content: flex-start;
	background-color: dodgerblue;
	text-align: center
}
.flex-container10>div{
	background-color: #f1f1f1;
	margin: 10px;
	width: 100px;
	padding:20px;
	font-size: 30px;
}

.flex-container11{
	display: flex;
	justify-content: flex-end;
	background-color: dodgerblue;
	text-align: center
}
.flex-container11>div{
	background-color: #f1f1f1;
	margin: 10px;
	width: 100px;
	padding:20px;
	font-size: 30px;
}

.flex-container12{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: dodgerblue;
	text-align: center
}
.flex-container12>div{
	background-color: #f1f1f1;
	margin: 10px;
	width: 100px;
	padding:20px;
	font-size: 30px;
}

.flex-container13{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: dodgerblue;
	text-align: center
}
.flex-container13>div{
	background-color: #f1f1f1;
	margin: 10px;
	width: 100px;
	padding:20px;
	font-size: 30px;
}

.flex-container14{
	display: flex;
	align-items: center;
	height: 200px;
	background-color: dodgerblue;
	text-align: center
}
.flex-container14>div{
	background-color: #f1f1f1;
	margin: 10px;
	width: 100px;
	padding:20px;
	font-size: 30px;
}

.flex-container15{
	display: flex;
	align-items: flex-start;
	height: 200px;
	background-color: dodgerblue;
	text-align: center
}
.flex-container15>div{
	background-color: #f1f1f1;
	margin: 10px;
	width: 100px;
	padding:20px;
	font-size: 30px;
}

.flex-container16{
	display: flex;
	align-items: flex-end;
	height: 200px;
	background-color: dodgerblue;
	text-align: center
}
.flex-container16>div{
	background-color: #f1f1f1;
	margin: 10px;
	width: 100px;
	padding:20px;
	font-size: 30px;
}

.flex-container17{
	display: flex;
	align-items: stretch;
	height: 200px;
	background-color: dodgerblue;
	text-align: center
}
.flex-container17>div{
	background-color: #f1f1f1;
	margin: 10px;
	width: 100px;
	padding:20px;
	font-size: 30px;
}

.flex-container18{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200px;
	background-color: dodgerblue;
	text-align: center
}
.flex-container18>div{
	background-color: #f1f1f1;
	margin: 10px;
	width: 100px;
	padding:20px;
	font-size: 30px;
}


.flex-container19{
	display: flex;
	background-color:#f1f1f1;

}
.flex-container19>div{
	background-color: DodgerBlue;
	color: white;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
  
}

.flex-container20{
	display: flex;
	background-color:#f1f1f1;

}
.flex-container20>div{
	background-color: DodgerBlue;
	color: white;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
  
}

.flex-container21{
	display: flex;
	background-color:#f1f1f1;
}
.flex-container21>div{
	background-color: DodgerBlue;
	color: white;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;  
}


.flex-container22{
	display: flex;
	background-color:#f1f1f1;
}
.flex-container22>div{
	background-color: DodgerBlue;
	color: white;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;  
}

.flex-container23{
	display: flex;
	background-color:#f1f1f1;
}
.flex-container23>div{
	background-color: DodgerBlue;
	color: white;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;  
}

.flex-container24{
	display: flex;
	background-color:#f1f1f1;
}
.flex-container24>div{
	background-color: DodgerBlue;
	color: white;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;  
}

.flex-container25{
	display: flex;
	height: 200px;
	background-color:#f1f1f1;
}
.flex-container25>div{
	background-color: DodgerBlue;
	color: white;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;  
}


.flex-container26{
	display: flex;
	height: 200px;
	background-color:#f1f1f1;
}
.flex-container26>div{
	background-color: DodgerBlue;
	color: white;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;  
}