<div class="flex-container">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>flex direction property :The flex-direction property defines in which direction the container wants to stack the items.</p>

<div class="flex-container2">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>flex direction property:
	<b>column reverse</b>
</p>
<div class="flex-container3">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>flex direction property:
	<b>row</b>
</p>
<div class="flex-container4">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>flex direction property:
	<b>row reverse</b>
</p>
<div class="flex-container5">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>flex-wrap property : wrap
	<b>Try resizing the browser window. A container with the flex-wrap property set to wrap will wrap its items if necessary.</b>
</p>
<div class="flex-container6">
	<div>1</div>
	<div>2</div>
	<div>3</div>
	<div>4</div>
	<div>5</div>
	<div>6</div>
	<div>7</div>
	<div>8</div>
	<div>9</div>
	<div>10</div>
	<div>11</div>
	<div>12</div>
</div>
<hr>

<p>flex-wrap property : nowrap
	<b>A container with the flex-wrap property set to nowrap will never wrap its items.</b>
</p>
<div class="flex-container7">
	<div>1</div>
	<div>2</div>
	<div>3</div>
	<div>4</div>
	<div>5</div>
	<div>6</div>
	<div>7</div>
	<div>8</div>
	<div>9</div>
	<div>10</div>
	<div>11</div>
	<div>12</div>
</div>
<hr>

<p>flex-flow property : flow wrap
	<b>A container with the flex-flow property set to row wrap will display its items from start to end, and wrap items if necessary.</b>
</p>
<div class="flex-container8">
	<div>1</div>
	<div>2</div>
	<div>3</div>
	<div>4</div>
	<div>5</div>
	<div>6</div>
	<div>7</div>
	<div>8</div>
	<div>9</div>
	<div>10</div>
	<div>11</div>
	<div>12</div>
</div>
<hr>

<p>justify-content property : center
	<b>Align items center.</b>
</p>
<div class="flex-container9">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>justify-content property : flex-start
	<b>A container with the justify-content property set to flex-start will align its items at the beginning.</b>
</p>
<div class="flex-container10">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>justify-content property : flex-end
	<b>A container with the justify-content property set to flex-end will align its items at the end.</b>
</p>
<div class="flex-container11">
	<div>1</div>
	<div>2</div>
	<div>3</div>
</div>
<hr>

<p>justify-content property : space-around
	<b>A container with the justify-content property set to space-around will display its items with the equal amount of space around them.</b>
</p>
<div class="flex-container12">
	<div>1</div>
	<div>2</div>
	<div>3</div>
	<!-- <div>4</div>
	     <div>5</div> -->
</div>
<hr>

<p>justify-content property : space-between
	<b>A container with the justify-content property set to space-around will display its items with the equal amount of space between them.</b>
</p>
<div class="flex-container13">
	<div>1</div>
	<div>2</div>
	<div>3</div>
	<!-- <div>4</div>
			 <div>5</div> -->
</div>