<!-- <div class="main-div">
	<h3 >
		Sign In
	</h3>
	<hr>
</div> -->

<!-- <div class = "outermost-div">
    <div class = "inner-div">
        <div class = "centered-div">
		   Sign In
		   <hr>
        </div>
    </div>
</div> -->

<div style="margin:auto 0">
	<!-- <div class="main-div justify-content-md-center">

	<div  style="text-align:center">
		<h3 class="header">Sign In</h3>
		
		<form row>
				<div class="form-group">
				  <label  class="label" for="exampleInputEmail1">Email *</label>
				  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
				</div>
				<div class="form-group">
				  <label class="label" for="exampleInputPassword1">Password *</label>
				  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<button type="button" class="btn btn-primary btn-lg btn-block btn-color">Sign In</button>
		</form>		
	</div>

</div> -->


        <div style="padding:10px;width:60%" class="row set-width">
			<!-- <h3 class="header">Sign In</h3> -->
			<div  class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="form-group">
						<label class="label" for="exampleInputEmail1">Email *</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
					</div>
					<div class="form-group">
						<label class="label" for="exampleInputPassword1">Password *</label>
						<input type="password" class="form-control" id="exampleInputPassword1" >
					</div>
					<button type="button" class="btn btn-primary btn-lg btn-block btn-color">Sign In</button>
	
				</div>
		</div>

</div>