.background {
	background: #363636
}
.color{
	color : white;
	margin-left: 10px;
}
.color:hover{
	color : #CBCBCB;
	cursor: pointer;
}
.dsply{
	display: flex;
    justify-content: space-evenly;
}
 .label-default{
	background-color: #777;
 }
 .label{
	display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
 }
 tr:hover{
	 background: #efefef;
 }
a{
	text-decoration: none;
	color: black;
}
.table-a:hover{
	border: 1px solid;
	background: #E0E0E0

 }
 .table-a{
	 margin: 7px;
	 font-size: 20px;
	 border: 1px  white;
	 
	}
	.icon_styling{
	color: black
 }
 .drpdwn-a{
	width: 30px;
    position: relative;
    bottom: 4px;
	height: 30px;
	// border: 1px solid white;
 }
 .drpdwn-a:hover{
	 border: 1px whoite;
 }
 
